*.amx
*.lst
*.asm
dependencies/
components/
pawn.lock
server.cfg
plugins/
*.exe
*.dll
*.so
announce
samp03svr
samp-npc
logs/
server_log.txt
crashinfo.txt
samp.ban
*.sublime-workspace
*.pdb
scriptfiles/
log.txt
bans.json
mysql.ini